.modal.hide.fade#hr_leave_modal
  .modal-header
    %h3
  .modal-body
    Approve leave? 
    = form_tag("", :id => "edit_leave_form", :method => "put") do
      = hidden_field_tag "is_approved", 1 
      = submit_tag "Yes", :class => "btn btn-primary"
    = form_tag("", :id => "remove_leave_form", :method => "delete") do
      = submit_tag "No", :class => "btn btn", :id => "leave_delete_button"
