%div{:style => "float:right"}
  = button_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'btn btn-success'
.modal.hide.fade#leave_modal
  .modal-header
    %h3
  .modal-body
    #new_leave{:style => "display:none;"}
      = form_tag(leaves_path, :method => "post") do
        = hidden_field_tag "date"
        = select_tag(:leave_type, options_for_select(@leave_types))
        = submit_tag "Save", :class => "btn btn-primary"
    #edit_leave{:style => "display:none;"}
      = form_tag("", :id => "edit_leave_form", :method => "put") do
        = hidden_field_tag "date"
        = select_tag(:leave_type, options_for_select(@leave_types), :id => 'leave_type')
        = submit_tag "Save", :class => "btn btn-primary"
    #remove_leave{:style => "display:none;"} 
      = form_tag("", :id => "remove_leave_form", :method => "delete") do
        = submit_tag "Delete", :class => "btn btn-danger"
#calendar

:javascript
  launch_calendar(#{@leaves})
